@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
background-image: url(bg.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.card {
width: 300px;
border: 7px solid #ccc;
border-radius: 15px;
overflow: hidden;
box-shadow: 20px 50px 60px rgba(0, 0, 0, 0.1);
margin: 20px auto;
}

.card img {
width: 100%;
height: auto;
}

.card-content1 {
padding: 10px;
color: white;
background-color: darkred;
}

.card-content2 {
    padding: 10px;
    color: white;
    background-color: darkviolet;
    }

.card-content3 {
        padding: 10px;
        color: white;
        background-color: darkblue;
        }

.card-content4 {
            padding: 10px;
            color: white;
            background-color: brown;
            }

            .card-content5 {
                padding: 10px;
                color: white;
                background-color: green;
                }

                .card-content6 {
                    padding: 10px;
                    color: white;
                    background-color: palevioletred;
                    }
                      
.card-content h2 {
font-family: roboto slab;
padding: 10px;
margin-top: 3px;
margin-bottom: 3px;
font-size: 35px;
}

.card-content p {
margin-bottom: 0;
}

.column {
margin-top: 50px;
text-align: center;
float: left;
width: 33.33%;
padding: 0px;
}

.types {
display: flex;
justify-content: center;
}

.type-box {
padding: 5px 10px;
margin-right: 10px;
background-color: red;
color: white;
border-radius: 5px;
}

.type-box1 {
padding: 5px 10px;
margin-right: 10px;
background-color: #704170;
color: white;
border-radius: 5px;
}

.type-box2 {
padding: 5px 10px;
margin-right: 10px;
background-color: #9141CB;
color: white;
border-radius: 5px;
}

.type-box3 {
padding: 5px 10px;
margin-right: 10px;
background-color: #2980EF;
color: white;
border-radius: 5px;
}

.type-box4 {
padding: 5px 10px;
margin-right: 10px;
background-color: #915121;
color: white;
border-radius: 5px;
}

.type-box5 {
padding: 5px 10px;
margin-right: 10px;
background-color: #AFA981;
color: white;
border-radius: 5px;
}


.type-box6 {
padding: 5px 10px;
margin-right: 10px;
background-color: #91A119;
color: white;
border-radius: 5px;
}
.type-box7{
padding: 5px 10px;
margin-right: 10px;
background-color: #60A1B8;
color: white;
border-radius: 5px;
}

.type-box8{
padding: 5px 10px;
margin-right: 10px;
background-color: #EF4179;
color: white;
border-radius: 5px;
}


.button {
    
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
  }

  .button:hover {
    background-color: #3e8e41;
  }

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }